#edt_richtext_styledefinitionfortheme crofield{
	background-color: #d4d4ff;	
	white-space: pre-wrap;
	width: 533px;
	margin: 2px 4px;
}
#edt_richtext_styledefinitionfortheme crofield label.rocontent{
	white-space: pre-wrap !important;
}